{% extends 'website/basic.html' %}

{% block title%}Classes at SmartGYM - Browse classes and schedules{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}

    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <br><br><br>
            <h1 class="mb-5">Classes &amp; <span class="darkcolor">Schedules</span></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="featured-classes bg-light py-5 block-13">
      <div class="container">
        
        <div class="heading-with-border">
          <h2 class="heading text-uppercase">Class Offerings</h2>
        </div>

        <div class="nonloop-block-13 owl-carousel">
          
          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/1. yoga.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">Yoga</h3>
              <p>Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>

          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/2. hiit.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">HIIT</h3>
              <p>HIIT is a form of interval training, alternating short periods of intense anaerobic exercise with less intense recovery periods.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>

          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/3. crossfit.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">Crossfit</h3>
              <p>CrossFit is a strength and conditioning workout that is made up of functional movement performed at a high intensity level.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>

          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/4. bodypump.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">Bodypump</h3>
              <p>BODYPUMP is a fast-paced, barbell-based workout that's specifically designed to help you get lean, toned and fit.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>

          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/5. aerobics.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">Aerobics</h3>
              <p>Aerobics is a form of physical exercise that combines rhythmic aerobic exercise with stretching and strength training.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>

          <div class="block-media-1 heading-with-border bg-white">
            <img src="{% static 'website/images/classes/6. 30dc.jpg'%}" alt="Image" class="img-fluid">
            <div class="p-4">
              <h3 class="h5 heading">30 Day Challenge</h3>
              <p>The 30-Day Fitness Challenge is designed to work every major muscle group in your body—every day.</p>
              <span class="d-flex align-items-center">
                <span class="icon-person h4 mr-3"></span>
                <span>Bruce Mars, David Holmes</span>
              </span>
            </div>
          </div>
          

        </div>
      </div>
    </div>





    
    <div class="block-schedule overlay site-section" style="background-image: url('{% static 'website/images/hero_bg_1.jpg'%}');">
      <div class="container">

        <h2 class="text-white display-4 mb-5">Schedule</h2>

        <ul class="nav nav-pills tab-nav mb-4" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-sunday-tab" data-toggle="pill" href="#pills-sunday" role="tab" aria-controls="pills-sunday" aria-selected="true">Sunday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-monday-tab" data-toggle="pill" href="#pills-monday" role="tab" aria-controls="pills-monday" aria-selected="true">Monday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-tuesday-tab" data-toggle="pill" href="#pills-tuesday" role="tab" aria-controls="pills-tuesday" aria-selected="false">Tuesday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-wednesday-tab" data-toggle="pill" href="#pills-wednesday" role="tab" aria-controls="pills-wednesday" aria-selected="false">Wednesday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-thursday-tab" data-toggle="pill" href="#pills-thursday" role="tab" aria-controls="pills-thursday" aria-selected="false">Thursday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-friday-tab" data-toggle="pill" href="#pills-friday" role="tab" aria-controls="pills-friday" aria-selected="false">Friday</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-sunday" role="tabpanel" aria-labelledby="pills-sunday-tab">
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Running</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>     
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Weight Lifting</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Yoga</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Running</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Weight Lifting</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="pills-monday" role="tabpanel" aria-labelledby="pills-monday-tab">
            
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Weight Lifting</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Running</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Yoga</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Running</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>
            <div class="row-wrap">
              <div class="row bg-white p-4 align-items-center">
                <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">Weight Lifting</h3></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> David Holmes</div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="text-align: center;">&mdash;</div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-md-right"><span href="#" class="btn btn-primary pill px-4 mt-3 mt-md-0" style="cursor: default;"><span class="icon-clock-o mr-3"></span>8:00am &mdash; 10:00am</span></div>  
              </div>
            </div>

          </div>

          
        </div>

        

      </div>      
    </div>

{% endblock %} <!--END BODY-->