{% extends 'website/basic.html' %}

{% block title%}Contact SmartGYM - We'll get back to you{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}
    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-7 text-center">
            <br><br><br>
            <h1 class="mb-5">Contact <span class="darkcolor">Us</span></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <form action="/website/contact/" class="p-5 bg-white" method="POST"> {% csrf_token %}
                                          {% if error == 1 %}
                                                <div class="alert alert-danger">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                                    <strong>Delivery Failed!</strong> <br>{{errormessage}}
                                                </div>
                                            {% endif %}

                                            {% if success == 1 %}
                                                <div class="alert alert-success">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <i class="fa fa-check alert-icon "></i>
                                                    <strong>Success!</strong> <br>{{successmessage}}
                                                </div>
                                            {% endif %}

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" class="form-control" placeholder="Full Name" name="name" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address" name="email" required>
                </div>
              </div>


              

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="">Subject</label>
                  <input type="text" id="" class="form-control" placeholder="Subject here" name="subject" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us" name="message" required></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary pill px-4 py-2" name="send">
                </div>
              </div>

  
            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
             
              <p class="mb-4">PECHS Block 2 - 239, Karachi<br>Sindh, Pakistan</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+92 303 987 4563</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">help@smart.com</a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p>For tour of facility and booking trial classes at SmartGYM, leave us a message and provide your contact details. We will get back to You.</p>
              <p><a href="/website/#about" class="btn btn-primary px-4 py-2 text-white pill">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}  <!--END BODY-->