{% extends 'website/basic.html' %}

{% block title%}Membership at SmartGYM - We got you covered{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}
  
    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-7 text-center">
            <br><br><br>
            <h1 class="mb-5">Get <span class="darkcolor">Registered</span></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light" >
      <div class="container">
        <div class="row" >
          <div class="col-md-12 col-lg-2"></div>

          <div class="col-md-12 col-lg-8 ">
            <h2 style="text-align: center;" >Member Details</h2>
            <form action="#" class="p-5 bg-white">
            
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Package</label>
                  <input type="text" id="package" class="form-control" placeholder="" name="package" value="Silver" disabled>
                </div>
              </div>
              
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" class="form-control" placeholder="Full Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address">
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="phone">Phone</label>
                  <input type="text" id="phone" class="form-control" placeholder="Phone #">
                </div>
              </div>

              

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Get Registered" class="btn btn-primary pill px-4 py-2">
                </div>
              </div>

  
            </form>
          </div>

          
        </div>
      </div>
    </div>

{% endblock %} <!--END BODY-->