{% extends 'website/basic.html' %}

{% block title%}Membership at SmartGYM - We got you covered{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}
  

    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-7 text-center">
            <br><br>
            <h1 class="mb-5">SmartGYM <span class="darkcolor">Membership</span></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="border-bottom">
      <div class="row no-gutters">
        
        {% for package in package_list.values %}
          <div class="col-md-6 col-lg-4">
            <div class="w-100 h-100 block-feature p-5 bg-light">
              <span class="d-block mb-3">
                <span class="darkcolor display-4">{{package.name}}</span>
              </span>
              <h2>Rs. {{package.price}}.00 / Month</h2>
              <h6>Admission: Rs. {{package.admission}}.00</h6>
              <p>{{package.desc}}</p>
              <ul class="site-block-check">
                {% for feature in package.features %}
                  <li>{{feature}}</li>
                {% endfor %}
              </ul>
              
              <p><a href="/website/getregistered/?package_selected={{package.name}}" class="btn btn-primary pill text-white px-4">Register</a></p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div> <!-- .block-feature -->

{% endblock %} <!--END BODY-->