{% extends 'website/basic.html' %}

{% block title%}Membership at SmartGYM - We got you covered{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}
  
    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-7 text-center">
            <br><br><br>
            <h1 class="mb-5">Get <span class="darkcolor">Registered</span></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light" >
      <div class="container">
        <div class="row" >
          <div class="col-md-12 col-lg-2"></div>

          <div class="col-md-12 col-lg-8 ">
            <h2 style="text-align: center;" >Member Details</h2>
            <br><br>
            <form action="/website/getregistered/" class="p-5 bg-white" method="POST"> {% csrf_token %}
            
                                          {% if error == 1 %}
                                                <div class="alert alert-danger">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                                    <strong>Request Error!</strong> <br>{{errormessage}}
                                                </div>
                                            {% endif %}

                                            {% if success == 1 %}
                                                <div class="alert alert-success">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <i class="fa fa-check alert-icon "></i>
                                                    <strong>Success!</strong> <br>{{successmessage}}
                                                </div>
                                            {% endif %}


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Package</label>
                  <input type="text" id="package" class="form-control" placeholder="" value="{{package}}" disabled>
                  <input type="hidden" id="package" class="form-control" placeholder="" name="package" value="{{package}}">
                </div>
              </div>
              
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" class="form-control" placeholder="Full Name" name="name" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address" name="email" required>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="phone">Phone</label>
                  <input type="tel" id="phone" class="form-control" placeholder="Phone #" required name="contact">
                </div>
              </div>

              

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Get Registered" class="btn btn-primary pill px-4 py-2" name="request">
                </div>
              </div>

  
            </form>
          </div>

          
        </div>
      </div>
    </div>

{% endblock %} <!--END BODY-->