{% extends 'website/basic.html' %}

{% block title%}Trainers at SmartGYM - We have the professional certified trainers for you{% endblock %}
  

{% block body %} <!--BODY BLOCK START -->
{% load static%}
  

    <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'website/images/cover.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-7 text-center">
            <br><br><br>
            <h1 class="mb-5">Expert <span class="darkcolor">Trainers</span></h1>
          </div>
        </div>
      </div>
    </div>  




    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-5 mb-5 mb-lg-0 order-2">
            <h2 class="mb-3 text-uppercase">SmartGYM's <strong class="text-black font-weight-bold">Experts</strong></h2>
            <p class="lead">Instructors at SmartGYM are dedicated to push you out of your comfort zone into the ‘feel-fantastic’ zone.</p>
            <p class="mb-4">Being educated while exercising is essential in maximizing effectiveness and reducing risk of injury. A personal trainer will teach you everything you need to know about exercising. They will put together the perfect routine to help you achieve your goals, demonstrate the correct posture for each exercise. <br><br>You need a group of professional instructors to engage the members. We intructors that are</p>
            <ul class="site-block-check">
              <li>Well Educated.</li>
              <li>Professional and Certified.</li>
              <li>A Great Personality.</li>
              
            </ul>
          </div>
          <div class="col-md-12 col-lg-6 mr-auto order-1">
            <img src="{% static 'website/images/about_2.jpg'%}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>


    
    


    <div class="site-section bg-light">

      <div class="container">
        
        <div class="heading-with-border text-center mb-5">
          <h2 class="heading text-uppercase">Trainers at smartgym</h2>
        </div>

          <div class="row">
            {% for trainer in trainers %}
              <div class="col-lg-4 mb-4">
                <div class="block-trainer">
                  <img src="/media/adminportal/trainer/{{trainer.trainer_img_name}}" alt="Image" class="img-fluid">
                  <div class="block-trainer-overlay">
                    <h2>{{trainer.trainer_name}}</h2>
                    <p class="text-white" >{{trainer.trainer_about|slice:"0:50"}}...</p>
                    <p>
                      <a href="{{trainer.trainer_fb}}" class="p-2"><span class="icon-facebook"></span></a>
                      <a href="{{trainer.trainer_ig}}" class="p-2"><span class="icon-instagram"></span></a>
                    </p>
                  </div>
                </div>    
              </div>
            {% endfor %}
          </div>

      </div>
      
    </div>
{% endblock %} <!--END BODY-->